.dark-mode  {
    /* background-color: #222; */
    background-color: rgb(32,34,44);
    color: rgb(0, 200, 170) !important;
}
body {
    font-weight: bold !important;
    color: rgb(0, 0, 0) !important;
}
